h1 {color:navy; font-family: serif; background-color: gold; padding-left: 535px;}
h1 {text-transform: uppercase;}
p {color:white; font-family: sans-serif; background-color: navy;}
#highlight {color: gold;}
body {background-color: grey;}
h1 {border: 2px solid navy;}
p {border: 1px solid gold;}
img {margin-left: 400px; border: 3px solid black; width:525px; height: 350px;}
.top {background-color: black; Float: center;}
<style>
a:link {color: white;}
a:hover {color: green;}
a:visited {color: orange;}
</style>
